Repository Alesion30/commit-kun-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -w

add: vscodeの設定ファイルを追加
  .vscode/launch.json
  .vscode/settings.json
Due: prettier -w

add: typescriptを導入
  .vscode/settings.json
  next-env.d.ts
  package.json
  src/pages/_app.js
  src/pages/_app.tsx
  src/pages/api/hello.js
  src/pages/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint, prettier -w

install: tailwindcssを導入
  package.json
  postcss.config.js
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Due: eslint, prettier -w

fix: プロジェクト名を変更
  package.json
Due: prettier -w

add: aliasの設定
  tsconfig.json
Due: prettier -w

add: OGPの設定など
  src/config/app.ts
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint, prettier -w

fix: フォントをInterに修正
  tailwind.config.js
Due: eslint, prettier -w

install: @headlessui/reactと@heroicons/reactをインストール
  package.json
  yarn.lock
Due: prettier -w

fix: eslintのルールを修正
  .eslintrc.json
  .vscode/settings.json
Due: prettier -w

add: 複数のクラス名を結合する関数を実装
  src/utils/className.ts
  src/utils/index.ts
Due: eslint, prettier -w

add: ヘッダーを実装
  src/components/atoms/avatar.tsx
  src/components/atoms/link.tsx
  src/components/molecules/profile_dropdown_avatar.tsx
  src/components/organisms/header.tsx
  src/components/templates/main.tsx
  src/pages/index.tsx
Due: eslint, prettier -w

add: ログイン画面を実装
  src/components/templates/signin.tsx
  src/pages/signin.tsx
Due: eslint, prettier -w

add: 認証用のproviderとcontextを実装
  src/pages/_app.tsx
  src/providers/auth/context.ts
  src/providers/auth/provider.tsx
Due: eslint, prettier -w

add: 認証用のhookを実装
  src/hooks/index.ts
  src/hooks/useAuth.ts
Due: eslint, prettier -w

add: 認証状態に応じたリダイレクト処理を行うhocを実装
  src/hocs/index.tsx
  src/hocs/withAuth.tsx
  src/hocs/withAuthRedirect.tsx
  src/hocs/withoutAuth.tsx
Due: eslint, prettier -w

add: hocを各ページに反映
  src/pages/index.tsx
  src/pages/signin.tsx
  src/providers/auth/index.tsx
Due: eslint, prettier -w

add: firebaseのセットアップ
  .env.example
  .gitignore
  package.json
  src/plugins/firebase.ts
  yarn.lock
Due: eslint, prettier -w

add: 認証状態を取得する処理を実装
  src/plugins/firebase.ts
  src/providers/auth/context.ts
  src/providers/auth/provider.tsx
Due: eslint, prettier -w

add: githubアカウントログイン機能を実装など
  src/components/molecules/profile_dropdown_avatar.tsx
  src/components/organisms/header.tsx
  src/components/templates/main.tsx
  src/components/templates/signin.tsx
  src/pages/signin.tsx
  src/plugins/firebase.ts
  src/providers/auth/context.ts
  src/providers/auth/provider.tsx
Due: eslint, prettier -w

fix: signoutボタンにhref属性を設定
  src/components/molecules/profile_dropdown_avatar.tsx
  src/components/organisms/header.tsx
Due: eslint, prettier -w

add: ヘッダーにimageURLを設定
  src/components/molecules/profile_dropdown_avatar.tsx
  src/components/organisms/header.tsx
  src/components/templates/main.tsx
Due: eslint, prettier -w

Update README.md
  README.md
Due: none

add: フルスクリーンのロード画面を実装
  src/assets/img/loading.gif
  src/components/templates/loading.tsx
  src/hocs/withAuthRedirect.tsx
  src/utils/index.ts
  src/utils/isBrowser.ts
Due: eslint, prettier -w

install: react-loading-overlay-tsを導入
  package.json
  yarn.lock
Due: prettier -w

add: ローディングのレイアウトを実装
  src/components/templates/loading.tsx
Due: eslint, prettier -w

add: ローディング用のカスタムフックを実装など
  src/hooks/useAuth.ts
  src/hooks/useLoading.ts
  src/providers/auth/context.ts
  src/providers/auth/index.ts
  src/providers/loading/context.ts
  src/providers/loading/index.ts
  src/providers/loading/provider.tsx
Due: eslint, prettier -w

add: ローディング機能を実装
  src/components/templates/main.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint, prettier -w

add: whileLoadingを実装
  src/pages/index.tsx
  src/providers/loading/context.ts
  src/providers/loading/provider.tsx
Due: eslint, prettier -w

fix: linkコンポーネントをnext/linkに対応
  src/components/atoms/link.tsx
Due: eslint, prettier -w

add: アクティビティページと友達一覧ページのルーティングを追加
  src/components/molecules/profile_dropdown_avatar.tsx
  src/components/organisms/header.tsx
  src/pages/activity.tsx
  src/pages/friend.tsx
Due: eslint, prettier -w

install: dayjsを導入
  package.json
  src/plugins/dayjs.ts
  yarn.lock
Due: eslint, prettier -w

add: カレンダーを実装
  src/components/atoms/calendar_cell.tsx
  src/components/molecules/calendar_day_column.tsx
  src/components/molecules/calendar_header.tsx
  src/components/organisms/calendar.tsx
  src/pages/activity.tsx
  src/plugins/dayjs.ts
Due: eslint, prettier -w

fix: ドロップダウンのリンクをnext/linkに対応
  src/components/molecules/profile_dropdown_avatar.tsx
  src/components/organisms/header.tsx
  src/components/templates/main.tsx
Due: eslint, prettier -w

add: ページネーションのボタンをコンポーネント化
  src/components/atoms/pagenation_button.tsx
  src/components/molecules/calendar_header.tsx
Due: eslint, prettier -w

hotfix: `Encountered two children with the same key`
  src/components/organisms/header.tsx
Due: eslint, prettier -w

add: manifest.jsonを追加
  public/manifest.json
Due: prettier -w

fix: ファイル名
  src/hooks/auth.ts
  src/hooks/index.ts
  src/hooks/loading.ts
  src/pages/index.tsx
Due: eslint, prettier -w

hotfix: エラー文を修正
  src/hooks/loading.ts
Due: eslint, prettier -w

fix: レイアウトにtitleを追加
  src/components/templates/loading.tsx
  src/components/templates/main.tsx
  src/components/templates/signin.tsx
Due: eslint, prettier -w

sandbox.tsx追加
  src/pages/sandbox.tsx
Due: eslint, prettier -w

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier -w: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{html,css,scss,json})
